<!DOCTYPE html>
<html lang="en">

<head id="headId">
    <meta charset="UTF-8">
    <title>MD 2 Moin</title>
</head>

<body>
<div align="center">
    <h1 id="gameTitle">MD 2 Moin</h1>


    <form id="input-form" method="post">
        <textarea id="mdText" rows="25" cols="50" name="mdText">Enter MarkDown here...</textarea>
        <br>
        <label for="offset" id="offset-label">Heading offset</label>
        <input id="offset" type="number" name="offset" value="0">
        <input type="submit" id="md-submit" value="Convert!">
    </form>

    <footer id="footerId">Footer</footer>

</div>
</body>
</html>
